@font-face { font-family: pt; src: url('../fonts/PTF55F.ttf'); } 
@font-face { font-family: ssp_bold; src: url('../fonts/SourceSansPro-Bold.otf'); } 
@font-face { font-family: ssp_regular; src: url('../fonts/SourceSansPro-Regular.otf'); } 

img.zoomable {
    cursor:zoom-in;
}

#zoomedImgContainer {
    position:fixed;
    width: 100%;
    height: 100%;
    background: #156D5D;
    top:0;
    left:0;
    display: none;
    text-align: center;
}

#zoomedImg {
    max-width: 100%;
    max-height: 100%;
    cursor:zoom-out;
    border: 3px solid #F3BF42;
}