html, body {
    margin:0px;
    padding:0px;
    border-width:0px;
    width:100%;
    height:100%;
}

body {
    /* background-image: url("/static/images/cutboard_texture.jpg");
    background-repeat:repeat; */

    background-color: #156D5D;
    color:#333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#contentWrapper {
    background-color: #fff;
    width:85%;
    min-height:100%;
    margin-left:auto;
    margin-right:auto;

    border-left: 3px solid #F3BF42;
    border-top: 3px solid #F3BF42;
    border-right: 3px solid #F3BF42;
}

div#header {
    position: fixed;
    width:85%;
    margin-top:-3px;
    text-align: center;
    padding:10px 0px;
    /* border-style: double; */
    border-bottom: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.8);
}

div#image_container {
    font-size: 0;
}

img#logoSheep{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

img#logoSheep.collapsed {
    margin-left:10px;
    height: 40px;
}

img#logoText{
    margin-top:-2px;
}

img#logoText.collapsed {
    height: 0px;
}

div#navbar, div#pageContent {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

div#navbar {
    padding-top:20px;
}

div#navbar.collapsed {
    padding-top:0px;
    margin-top:-40px
}


div#pageContent {
    padding-top:250px;
    padding-bottom:100px;
}

div#navbar div.navbar_option {
    color:#333;
    padding:10px 20px;
    display: inline-block;
}

div#navbar div.navbar_option:hover {
    color:#000;
    background-color: #F3BF42;
    cursor:pointer;
}

div#footer {
    /* background-color: #F3BF42; */
    background-image: url("../images/cutboard_texture.svg");
    background-repeat:repeat; 
    width:100%;
    text-align: center;
    padding:10px 0px;
}

div.blogPost {
    margin-bottom:8em;
}

div.blogPost.pinned {
    border-left:3px solid #F3BF42;
    padding-left:1.5em;
}

div.blogPost div.header {
    font-family: 'ssp_bold';
    font-size: 1.5em;
}

div.blogPost div.tags div.tag {
    display:inline-block;
    background: #999;
    font-family: 'ssp_regular';
    /* font-weight: bold; */
    color:#FFF;
    border-radius: 4em;
    padding:0.5em 1em;
    margin:0 0.2em;
    font-size: 0.9em;
}

div.blogPost div.tags div.tag.insert {
    background: #333;
}

div.blogPost div.tags div.tag.insert_designing {
    background: #f34242;
}

div.blogPost div.tags div.tag.insert_designed {
    background: #cea138;
}

div.blogPost div.tags div.tag.insert_built {
    background: #409725;
}

div.blogPost div.tags div.tag.insert_complete {
    background: #a439ec;
    text-shadow:
        0 0 7px #F3BF42,
        0 0 10px #F3BF42,
        0 0 21px #F3BF42;
}

div.blogPost div.content {
    width: 100%;
    font-family: 'pt';
    font-size: 1.1em;
}

div.blogPost div.content div.imgContainer, 
div.blogPost div.content div.textContainer {
    display: inline-block;
    padding:1em;
}

div.blogPost div.content div.imgContainer img {
    width:10em;
}

div.blogPost div.content p {
    margin: 1.5em 0;
}

div.blogPost div.footer {
    border-top: 1px solid #333;
}

