html, body {
    margin:0px;
    padding:0px;
    border-width:0px;
    width:100%;
    height:100%;
}

body {
    /* background-image: url("/static/images/cutboard_texture.jpg");
    background-repeat:repeat; */

    background-color: #156D5D;
    color:#333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#contentWrapper {
    background-color: #fff;
    width:85%;
    min-height:100%;
    margin-left:auto;
    margin-right:auto;

    border-left: 3px solid #F3BF42;
    border-top: 3px solid #F3BF42;
    border-right: 3px solid #F3BF42;
}

div#header {
    text-align: center;
    padding:10px 0px;
    /* border-style: double; */
    border-bottom: 1px solid #333;
}

div#navbar, div#pageContent {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

div#navbar {
    padding-top:20px;
}

div#pageContent {
    padding-top:40px;
    padding-bottom:100px;
}

div#navbar div.navbar_option {
    
    padding:10px 20px;
    display: inline-block;
}

div#navbar div.navbar_option:hover {
    color:#000;
    background-color: #F3BF42;
    cursor:pointer;
}

div#footer {
    /* background-color: #F3BF42; */
    background-image: url("/static/images/cutboard_texture.jpg");
    background-repeat:repeat; 
    width:100%;
    text-align: center;
    padding:10px 0px;
}

